body{
    background-color: rgb(0, 0, 0);
}
.social{
    list-style: none;
    padding-right: 60px;
    
}
.social li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding-top: 9px;
}
.navitems{
    display: inline-block;
    padding-right: 8px;
    padding-top: 9px;
}
.navitems img{
    width: 20px;
}
.loginbutton{
    color: white;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    border: opx;
    width: 100px;
    height: 40px;
}
.loginbutton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
}
.carousel-control-next-icon {
    background-color: black;
    border-radius: 10px;
}
.carousel-control-prev-icon {
    background-color: black;
    border-radius: 10px;
}
.titletag h1{
    color: rgb(242, 255, 0);
    font-family:'Amatic SC', cursive;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 40px;
}
.page2{
    margin: 30px;
}
.page2content p{
    color: rgb(142, 142, 142);
    word-spacing: 4px;
    letter-spacing: 2px;
    padding: 50px;
}
.contactpage{
   margin: 30px
}
.contactcontent{
    padding: 70px
}
.contactcontent ul{
    padding-top: 90px;
}
.contactcontent li{
    list-style: none;
    display: inline-block;
    padding: 50px
}
.sdash{
    padding: 100px;
}
.card-img-top {
  padding: 10px;
  height: 10vw;
  object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
  margin-top: 50px;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #d29d18;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #d29d18;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #d29d18;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #d29d18;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  text-align: center;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #d29d18;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #d29d18;
}
.topic h1{
    color: yellow;
    font-family:'Amatic SC', cursive; 
}
.topic img{
    width: 60px;
}
.phone img{
    width: 30px;
    padding-right: 7px;
}
.email img{
    width: 30px;
    padding-right: 7px;

}
.card-body img{
    width: 30px;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
  .team li{ 
   position: relative;
   padding-left: 0px;
   margin-left: -80px;
  }
}
@media screen and (max-width : 800px ){
    .page2content p{
        font-size: 10px;
        padding: 20px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.login{
  margin-bottom: -100px;
  margin-top: -90px;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.containerlogin{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #525252;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper a{
  text-decoration: none;
}
.login p{
  color: white;
  text-align: center;
}
.login p:hover{
  color: black;
}
.wrapper .titlep{
  height: 90px;
  background: #696969;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #ffffff;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #525252;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: rgb(4, 2, 2);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #ffffff;
  border: 1px solid #525252;
}
form .button input:hover{
  background: #000000;
  color: white;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #ffffff;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
.clubs{
  background-color: #1b1b1b;
  padding-bottom: 70px;
}
.clubs h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:'Amatic SC', cursive;
  font-size: 70px;
}
.clubs ul{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.clubs li{
  display: flex;
  justify-content: center;
  padding-right: 40px;
}